.booking {
  h3 {
    font-weight: 600;
    margin-top: 0;
    span {
      font-weight: 300;
    }
  }

  h3 {
    margin-top: 0;
  }

  .time {
    font-weight: 300;
    span {
      font-weight: 600;
    }
  }

  .rack-list {
    .btn { border-radius: 25px; }
    h4 {
      font-size: 24px;
      margin: 4px 6px;
    }
    .fa {
      padding-right: 6px;
    }
    .rack {
      margin-bottom: 10px;
    }
  }
}
