body {
  background-color: rgb(241, 242, 246)
}

.reservation {
  .fa {
    font-size: 80px;
    position: relative;
  }
  .panel {
    position: relative;
  }
  .badge {
    position: absolute;
    font-size: 12px;
    right: -18px;
    top: -18px;
    padding: 8px 15px;
    border-radius: 26px;
  }

  .progress {
    height: 6px;
    margin-bottom: 14px;
  }

  h3 {
    margin-top: 0;
  }

  .time {
    font-weight: 300;
    span {
      font-weight: 600;
    }
  }
}
