
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import 'variables';

// Bootstrap
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Override
@import 'components/login';
@import 'components/reservation';
@import 'components/booking';
@import 'components/dashboard';
